
header {
  .logo {
    background: url(../images/erasmuswmc-logo.svg) 8px 2px no-repeat;
    height: 109px;
    width: 254px;
  }

  .logo-small {
    background: url(../images/erasmuswmc-logo.svg) 8px 2px no-repeat;
    height: 27px;
    width: 64px;
  }
}
